.context-menu {
	box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.4) 0 3px 3px;
	background-color: #045301;
	width: 160px;
	user-select: none;
	height: 90px;

	opacity: 0.93;
	list-style-type: none;
	border-radius: 5px;
	padding: 8px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.context-menu *:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.context-menu *:last-child {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.context-menu p {
	text-align: center;
	padding: 10px;
	color: rgb(248, 248, 248);
	margin: 0;
}

.context-menu button {
	background-color: transparent;
	padding: 10px;
	width: 100%;
}

.context-menu button,
.button {
	font-size: inherit;
	cursor: pointer;
	color: #2f2f2f;
	border: none;
}

.context-menu--btn {
	padding: 5px 10px 5px 10px;
	display: flex;
	align-items: center;
	border-radius: 5px;
}
.context-menu--btn:hover {
	background-color: rgba(34, 133, 10, 0.979);
}

.context-menu--text {
	color: white;
	font-size: 14px;
}

.context--menu-text-icon{
	margin-right: 10px;
}

.fa-pencil-alt {
	color: rgb(0, 183, 255);
}
.fa-trash-alt {
	color: rgb(211, 3, 3);
}
