.dm {
	margin: 0.5rem 0 1.5rem;
	margin-right: 10px;
}

.dm__button,
.dm__heading {
	padding: 0 0 0 18px;
	width: 100%;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dm__number {
	display: inline-block;
	position: relative;
	top: -1px;
	margin-left: 2px;
	font-size: 13px;
	opacity: 0.5;
}

.dm__add {
	margin-top: 10px;
	color: #d8d5d5;
	font-size: 18px;
}

.dm__heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	line-height: 2.1;
	opacity: 0.6;
}

.dm__heading-add{
	font-size: 100%;
	display: none;
}

.dm__heading:hover .dm__heading-add{
	display: block;
}

.dm__button {
	padding: 4px 0 4px 18px;
	display: flex;
	align-items: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	line-height: 1.5;
}

.dm__button span {
	opacity: 0.7;
}
.dm__button:before {
	padding: 0 0.3rem;
}
.dm__button:hover {
	background: var(--sideBarHover);
	cursor: pointer;
}

.dm__button:before {
	content: '\1F436';
}

.dm__button--online:before {
	content: '\1F436';
}

.dm__button--active,
.dm__button--active:hover {
	background: #038edf;
	color: #ffffff;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dm__add--plussign {
	margin-left: 18px;
	margin-right: 10px;
	background: rgba(255, 255, 255, 20%);
	color: #c4c4c4;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 4px;
}

.dm__item {
	margin-top: 5px;
}
.dm__item:last-child {
	padding-bottom: 35px;
}

.new_message {
	font-weight: 900;
	color: white;
	line-height: 1.4;
}

.new_message-number {
	background-color: red;
	border-radius: 50%;
	color: white;
	height: 25px;
	width: 25px;
	font-size: 14px;
	font-weight: 600;
	margin-left: auto;
	z-index: 100;
	text-align: center;
}
.remove-dm {
	line-height: 1.7;
	/* border-radius: 50%; */
	color: pink;
	/* height: 25px; */
	width: 25px;
	font-size: 14px;
	font-weight: 600;
	margin-left: auto;
	z-index: 100;
	text-align: center;
}

.x {
	display: none;
}

.remove-dm:hover .x {
	display: block;
}

.dm__li {
	display: flex;
	flex-direction: row;
}

.dm__li:hover .x {
	display: block;
}

.dm__li:hover .dm__button {
	background-color: #038edf;
	border-radius: 0px;
}
.dm__li:hover .remove-dm {
	background-color: #038edf;
	padding: 4px 0 4px 0px;
	align-items: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	line-height: 1.5;
}
