.main {
	position: relative;
	height: 100%;
	flex: 1;
	margin-left: 250px;
}
.main__header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	display: flex;
	padding: 18px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background: #fff;
	justify-content: space-between;
}

.main__channel-members {
	display: flex;
	flex-direction: column;
	width: 150px;
	color: rgb(26, 26, 26);
	margin-right: 12px;
}

.main__channel-members .fas {
	margin-right: 10px;
}

.main__channel-members i,
.main_channel-members-h3 {
	font-size: 14px;
}

.main__h3 {
	margin-bottom: 1rem;
	font-size: 1rem;
	font-weight: 900;
	color: rgb(26, 26, 26);
}
.main__content {
	position: relative;
	top: 75px;
	height: calc(100vh - 75px);
	overflow-y: scroll;
}
.main__container {
	padding: 10px 20px;
	margin: 0 auto;
	width: 100%;
}

.main__chat {
	margin-bottom: 190px;
}

.main__chat-item {
	display: flex;
	margin-top: 10px;
	position: relative;
	padding: 5px;
}

.main__chat-item-edit-delete {
	display: flex;
	margin-top: 10px;
	position: relative;
	padding: 5px;
	background-color: wheat;
}

.main__chat-item:hover {
	background-color: whitesmoke;
}

.main__chat-item:hover .chat__extra-options{
	display: flex;
}

.chat__avatar {
	width: 44px;
	border-radius: 5px;
	margin-right: 10px;
}

.chat__username {
	color: #000;
	font-size: 16px;
	font-weight: bold;
}
.chat__date {
	color: rgb(99, 99, 99);
	font-size: 13px;
	margin-left: 20px;
}
.chat__text {
	font-size: 16px;
	margin: 0;
}

.chat__text--link {
	color: rgb(57, 113, 187);
	font-size: 16px;
}

.chat__extra-options{
	position: absolute;
	top: -10px;
	right: 0;
	display: none;
	border: 1px solid lightgray;
	border-radius: 5px;
	background-color: white;
}

.chat_edit-btn,
.chat__delete-btn{
	font-size: 17px;
	margin: 5px;
	color: grey;
}

.chat__edit button:hover,
.chat__delete button:hover{
	color: black;
}

.chat__username:hover,
.chat__date:hover {
	text-decoration: underline;
	cursor: pointer;
}

.my-editing-area {
	height: 90px;
}

.main__chat-textarea {
	position: fixed;
	bottom: 10px;
	width: 70%;
	background-color: white;
}

.main__chat-send {
	background-color: #4a154b;
	color: #fff;
	width: 35px;
	height: 35px;
	bottom: 10px;
	right: 10px;
	border-radius: 50%;
	transition: all 1s;
	position: absolute;
}

.main__chat-send i {
	margin-left: 25%;
}

.main__chat-send:hover {
	background-color: #681e69;
}

.chat__quill{
	background-color: white;
}

.chat__other-info-delete-alert{
	font-weight: bold;
	font-size: 15px;
	color: grey;
}

.chat__other-info-delete-message{
	font-weight: bold;
	color: #4a154b;
}

.chat__other-info-cancel{
	border-radius: 3px;
	background-color: white;
	color: black;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	outline: 0;
	border: none;
	transition: all 1s;
	text-align: center;
}

.chat__other-info-confirm{
	border-radius: 3px;
	background-color: green;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	outline: 0;
	border: none;
	transition: all 1s;
	text-align: center;
}
