.login-form-header {
	text-align: center;
	font-weight: 600;
	font-size: 2.6em;
	margin-top: 10px;
	color: #1b1b1b;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.login-container {
	height: 600px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.loginWrap {
	position: relative;
	margin: 90px auto;
	width: 400px;
	border-radius: 5px;
	padding: 15px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.login-input,
.photo-upload--input {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10px;
	height: 40px;
	border-radius: 5px;
	outline: 0;
	border: 1px solid #cccccc;
	padding: 0 0 0 10px;
	font-size: 14px;
}

.login-btn,
.demo-btn {
	border-radius: 3px;
	background-color: var(--primaryColorDark);
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 21px;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10px;
	height: 40px;
	border-radius: 5px;
	outline: 0;
	border: none;
	transition: all 1s;
	text-align: center;
}

.login-btn:hover,
.demo-btn:hover {
	background-color: var(--primaryColor);
}

.login-input:focus .photo-upload--input:focus {
	border: 1px solid var(--primaryColorDark);
}

.switchLinkName {
	font-size: 14px;
	text-decoration: none;
	margin-bottom: 0px;
}
.switchLink {
	font-size: 14px;
	color: #186dee;
	text-decoration: none;
	font-weight: bold;
}

.switchLink:hover {
	text-decoration: underline;
}

.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.errorsList {
	list-style-position: none;
	margin-left: 20px;
}

.errorsContainer {
	width: 90%;
	border: 1px solid #c44536;
	padding: 10px;
	background-color: #ffb1b4;
	color: #c44536;
	border-radius: 5px;
	margin: 15px 5%;
}

.slack_logo {
	height: 35px;
	margin-bottom: 20px;
}

#fa-dog_green-large_login {
	color: var(--primaryColor);
	height: 50%;
	font-size: 3.5em;
	height: 35px;
	margin-bottom: 20px;
}

.slack_logo:hover {
	cursor: pointer;
}

.signup-link {
	/* margin-top: 90px; */
	text-align: center;
	margin-bottom: 20px;
}

.photo-upload--form {
	display: flex;
}

.photo-upload--input {
	width: 78%;
	margin-right: 7px;
}

.photo-upload--input:focus {
	border: 1px solid var(--primaryColorDark);
}

.photo-upload--btn {
	font-size: 14px;
	color: #fff;
	background-color: var(--primaryColorDark);
	padding: 12px 8px;
	border-radius: 5px;
	transition: all 0.5s;
	margin-top: 0;
	margin-left: 5px;
	height: 40px;
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.photo-upload--filename {
	width: 65%;
	margin-left: 5%;
	margin-bottom: 10px;
	height: 40px;
	border-radius: 5px;
	outline: 0;
	color: rgb(119, 118, 118);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: 1px solid #cccccc;
	padding: 0 0 0 12px;
	font-size: 14px;
	padding: 10px 12px;
}

.photo-upload--btn:hover {
	background-color: var(--primaryColor);
}

#actual-btn-text {
	font-size: 0.75rem;
}

.signupform {
	box-sizing: border-box;
	width: 100%;
}
